streamlit
pandas
openpyxl
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-oauth2
google-api-python-client
PyYAML==6.0.1  # Versión estable y compatible
streamlit-authenticator


